@import url("./navbar.css");
@import url("./typography.css");
@import url("./mobile.css");

*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    margin: 0;
    padding: 0;
}

main {
    margin-top: 10rem;
    border: 1px solid black;
}