@import url("./navbar.css");
@import url("./typography.css");
@import url("./mobile.css");
@import url("./about.css");
@import url("./menu.css");

*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    margin: 0;
    padding: 0;
}

main {
    max-width: 1200px;
    margin: 10rem auto;
}

section {
    padding: 1rem;
}

