.main-header {
    background: burlywood;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 24px;

}
.main-menu__logo {
    line-height: 1rem;
    display: inline-block;
}

.main-menu__items {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    line-height: 1rem;
}

.main-menu__item {
    padding: 1rem;
    margin-left: 1rem;
}

.main-menu__item a {
    text-decoration: none;
    font-size: 1.5rem;
}
